<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jeremy-codes</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <% stylesheets.forEach(function(stylesheet) { %>
      <link rel="stylesheet" type="text/css" href="<%=stylesheet%>">
    <% }) %>

    <script type="text/javascript" src="/assets/scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/assets/scripts/bootstrap.min.js"></script>

  </head>
  <body class="lato-regular">
    <div class="main-body">

    
