<div id="resume-header">
  <h2>Jeremy Bruce Adams</h2>

  <div class="clear-both">
    <span class="left">35 Wynford Heights Cres.</span>
    <span class="right"><a href="https://www.linkedin.com/in/jeremy-bruce-adams/">LinkedIn</a></span>
  </div>

  <div class="clear-both">
    <span class="left">Toronto, ON M3C 1K9</span>
    <span class="right"><a href="https://github.com/jb-adams">Github</a></span>
  </div>

  <div class="clear-both">
    <span class="left">jeremybr.adams@gmail.com</span>
    <span class="right"><a href="http://jeremy-codes.com">Website</a></span>
  </div>

  <div class="clear-both">
    <span class="left">647-294-3810</span>
  </div>

</div>

<div id="resume-body">

  <!-- Skills -->
  <h3 class="resume-section-heading">Skills</h3>
  <div class="clear-both resume-section-spacer">
    <ul>
      <li>Developing custom services in Python, Bash, Java, R, and SQL to produce and query databases, conduct specialized analyses, and load data into interpretable formats</li>
      <li>Experienced in version control using Git, and continuous integration using Jenkins and Artifactory</li>
      <li>Proficient in project collaboration tools Confluence, Jira, and Slack</li>
      <li>Interactive data visualization using D3.js and R Shiny web applications</li>
      <li>Creating RESTful web applications using Node.js, Express.js, and MongoDB</li>
      <li>Producing publication-quality figures and reports using ggplot library in R</li>
      <li>Communicating scientific concepts to both specialist and non-specialist audiences</li>
    </ul>
  </div>

  <!-- Work Experience -->
  <h3 class="resume-section-heading">Work Experience</h3>

  <!-- Solsys -->
  <div class="clear-both">
    <span class="left"><h4>Big Data Developer and Analyst</h4></span>
    <span class="right"><h4>2018-2019</h4></span>
  </div>
  <div class="clear-both">
    <span class="left"><h4>Solsys Corporation, Toronto ON</h4></span>
  </div>

  <div class="clear-both resume-section-spacer">
    <ul>
      <li>Developed an application to detect and report real-time fraudulent transactions for Scotiabank using Python and Splunk (big data analytics platform)</li>
      <li>Developed dashboards to monitor the health of bank applications deployed in the cloud</li>
      <li>Designed custom visualizations in D3.js to display server availability and response times</li>
      <li>Communicated with application teams and implemented their requirements into new searches, reports, and visualizations</li>
    </ul>
  </div>

  <!-- OICR -->
  <div class="clear-both">
    <span class="left"><h4>Bioinformatician</h4></span>
    <span class="right"><h4>2015-2018</h4></span>
  </div>
  <div class="clear-both">
    <span class="left"><h4>Ontario Institute for Cancer Research, Toronto ON</h4></span>
  </div>

  <div class="clear-both resume-section-spacer">
    <ul>
      <li>Processed and analyzed large genomic datasets in a high-performance computing environment</li>
      <li>Developed tools in Python, R, and Bash to assess sample quality and determine samples that require resequencing</li>
      <li>Developed data visualization web applications using the Shiny package in R to share QC results with scientific collaborators</li>
      <li>Reviewed scientific literature to implement new bioinformatics software into our pipeline</li>
      <li>Presented research on new technologies with lab group to keep our pipeline updated and optimized</li>
    </ul>
  </div>

  <!-- UW Teaching Assistant -->
  <div class="clear-both">
    <span class="left"><h4>Teaching Assistant</h4></span>
    <span class="right"><h4>2013-2015</h4></span>
  </div>
  <div class="clear-both">
    <span class="left"><h4>University of Waterloo, Waterloo ON</h4></span>
  </div>

  <div class="clear-both resume-section-spacer">
    <ul>
      <li>Taught molecular biology and genetics concepts to undergraduate students in tutorial</li>
      <li>Organized and supervised labs on nervous and cardiovascular system physiology</li>
      <li>Worked closely with students to ensure comprehensive understanding of course material</li>
      <li>Marked student lab reports, essays, and tests in a fair and unbiased manner</li>
      <li>Supervised and maintained control of midterm tests and exams</li>
    </ul>
  </div>

  <!-- Education -->
  <h3 class="resume-section-heading">Education</h3>

  <!-- York U Big Data -->
  <div class="clear-both">
    <span class="left"><h4>Certificate in Big Data Analytics</h4></span>
    <span class="right"><h4>March 2019 Expected</h4></span>
  </div>
  <div class="clear-both">
    <span class="left"><h4>York University, Toronto ON</h4></span>
  </div>

  <div class="clear-both resume-section-spacer">
    <ul>
      <li>Solved analytical problems with machine learning and related them to business goals</li>
      <li>Developed and tested machine learning models in Python and R, including regression, decision tree, random forest, k-means clustering, and hierarchical clustering</li>
    </ul>
  </div>

  <!-- UW Masters -->
  <div class="clear-both">
    <span class="left"><h4>Masters of Science in Biology</h4></span>
    <span class="right"><h4>2013-2015</h4></span>
  </div>
  <div class="clear-both">
    <span class="left"><h4>University of Waterloo, Waterloo ON</h4></span>
  </div>

  <div class="clear-both resume-section-spacer">
    <ul>
      <li>Received NSERC Canada Graduate Scholarship (CGS-M) - $17 500</li>
      <li>Received University of Waterloo President’s Graduate Scholarship (PGS) - $10 000</li>
      <li>Designed and programmed a novel software analysis pipeline to detect likely instances of protein functional evolution using structural algorithms</li>
      <li>Taught Python coding seminars on bioinformatics analysis to students</li>
      <li>Co-authored paper on my thesis research</li>
    </ul>
  </div>

  <!-- Seneca -->
  <div class="clear-both">
    <span class="left"><h4>Ontario Graduate Certificate in Bioinformatics</h4></span>
    <span class="right"><h4>2012-2013</h4></span>
  </div>
  <div class="clear-both">
    <span class="left"><h4>Seneca College of Applied Arts and Technology, Toronto ON</h4></span>
  </div>

  <div class="clear-both resume-section-spacer">
    <ul>
      <li>Graduated with high honours (GPA over 3.95)</li>
      <li>Analyzed next-generation sequencing data to screen for genomic variants and somatic mutations using SAMtools </li>
      <li>Created dynamic web pages and scripts for querying biological databases, and designed graphical-user interfaces using Perl, SQL, Java, and R in the UNIX/Linux environment</li>
      <li>Designed and built a yeast strain database and querying tool for an academic lab</li>
    </ul>
  </div>

  <!-- U of T -->
  <div class="clear-both">
    <span class="left"><h4>Honours Bachelor of Science in Cell and Systems Biology</h4></span>
    <span class="right"><h4>2008-2012</h4></span>
  </div>
  <div class="clear-both">
    <span class="left"><h4>University of Toronto, Toronto ON</h4></span>
  </div>

  <div class="clear-both resume-section-spacer">
    <ul>
      <li>Graduated with high distinction (GPA over 3.50)</li>
      <li>Learned molecular biology, genetics, and biochemistry concepts, as well as how to interpret experimental data from primary research papers in these fields</li>
      <li>Cloned and expressed a gene of interest using molecular techniques</li>
      <li>Purified recombinant protein of interest by affinity chromatography</li>
      <li>Performed quantitative reverse transcription-PCR to create differential expression data</li>
      <li>Detected protein-protein interaction by yeast two-hybrid screen</li>
    </ul>
  </div>

  <!-- Professional Development -->
  <h3 class="resume-section-heading">Professional Development</h3>

  <!-- RNA-Seq -->
  <div class="clear-both">
    <span class="left"><h4>Informatics for RNA-seq Analysis</h4></span>
    <span class="right"><h4>June 8-9, 2015</h4></span>
  </div>
  <div class="clear-both">
    <span class="left"><h4>Canadian Bioinformatics Workshops, Toronto ON</h4></span>
  </div>

  <div class="clear-both resume-section-spacer">
    <ul>
      <li>Assessed quality of Illumina raw read data using FastQC</li>
      <li>Performed transcriptome analysis using the Tuxedo suite of tools</li>
      <li>Quantified mature transcript levels and performed differential expression analysis between tissues using Cufflinks</li>
      <li>Detected alternative splicing patterns and discovered potential isoforms using Cufflinks</li>
    </ul>
  </div>

  <!-- Genomics -->
  <div class="clear-both">
    <span class="left"><h4>Informatics on High-throughput Sequencing Data</h4></span>
    <span class="right"><h4>June 10-11, 2015</h4></span>
  </div>
  <div class="clear-both">
    <span class="left"><h4>Canadian Bioinformatics Workshops, Toronto ON</h4></span>
  </div>

  <div class="clear-both resume-section-spacer">
    <ul>
      <li>Aligned raw read data to reference genome using Amazon Cloud Computing resources</li>
      <li>Detected small variants and structural variants using command-line tools</li>
      <li>Visualized genomic variants using the Integrated Genomic Viewer</li>
      <li>Designed custom sequencing analysis workflows on a graphical interface using the Galaxy web server</li>
    </ul>
  </div>

  <!-- Publications -->
  <h3 class="resume-section-heading">Publications</h3>

  <div class="clear-both resume-section-spacer">
    <p><strong>Adams, J.</strong>, Mansfield, M.J., Richard, D.J., & Doxey, A.C. (2017). Lineage-specific mutational clustering in protein structures predicts evolutionary shift in function. Bioinformatics, 33, 1338-1345.</p>
    <p>Mansfield, M.J., <strong>Adams, J.B.</strong>, & Doxey, A.C. (2015). Botulinum neurotoxin homologs in non-Clostridium species. FEBS Letters, 589, 342-348.</p>
  </div>

</div>
