<div style="text-align: center; margin-bottom:5.0vh;">
  <h1>Jeremy Bruce Adams</h1>

  <div style="clear:both;">
    <span class="left">35 Wynford Heights Cres.</span>
    <span class="right"><a href="https://www.linkedin.com/in/jeremy-bruce-adams/">LinkedIn</a></span>
  </div>

  <div style="clear:both;">
    <span class="left">Toronto, ON M3C 1K9</span>
    <span class="right"><a href="https://github.com/jb-adams">Github</a></span>
  </div>

  <div style="clear:both;">
    <span class="left">jeremybr.adams@gmail.com</span>
    <span class="right"><a href="http://jeremy-codes.com">Website</a></span>
  </div>

  <div style="clear:both;">
    <span class="left">647-294-3810</span>
  </div>

</div>

<div class="" style="margin-top:5.0vh;margin-bottom:5.0vh;">
  <h2>Work Experience</h2>
</div>
