<% include partials/header.ejs %>
<% include partials/nav.ejs %>

<div id="my-jumbotron" class="jumbotron my-jumbotron">
  <h1>About Me</h1>
</div>

<div class="colored-heading bottom-spacing">
  <h1>Heading 1</h1>
</div>
<div class="container bottom-spacing">
  <p class="indent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec aliquam eros, et lobortis enim. Duis et euismod neque. Cras magna neque, pulvinar eu commodo eu, pellentesque sit amet massa. Aenean eu sodales risus, id lacinia lorem. Praesent vitae varius lacus. Curabitur ut augue at ex varius hendrerit. Fusce nec lobortis ligula. Fusce fermentum lorem erat, a posuere nibh imperdiet et. Curabitur laoreet nulla ac quam pharetra, sodales eleifend purus pretium. Nam ornare nisl ut nibh consequat, eu mattis nibh aliquet.</p>

  <p class="indent">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ultricies dictum tempor. Suspendisse vel mi consequat, ullamcorper sem ut, viverra sapien. Curabitur bibendum felis urna, et imperdiet augue lacinia at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam pellentesque, arcu ac consequat rutrum, eros eros suscipit ex, imperdiet rutrum orci tellus eleifend velit. Nullam finibus nulla in bibendum pretium. Suspendisse dapibus auctor nisi id pellentesque. Vivamus id mauris laoreet, bibendum nisl quis, rutrum ex. Duis in metus nulla. Nullam pretium maximus vulputate. Quisque molestie velit at lacus fringilla accumsan vel in leo.</p>
</div>

<div class="colored-heading bottom-spacing">
  <h1>Heading 2</h1>
</div>
<div class="container bottom-spacing">
  <p class="indent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec aliquam eros, et lobortis enim. Duis et euismod neque. Cras magna neque, pulvinar eu commodo eu, pellentesque sit amet massa. Aenean eu sodales risus, id lacinia lorem. Praesent vitae varius lacus. Curabitur ut augue at ex varius hendrerit. Fusce nec lobortis ligula. Fusce fermentum lorem erat, a posuere nibh imperdiet et. Curabitur laoreet nulla ac quam pharetra, sodales eleifend purus pretium. Nam ornare nisl ut nibh consequat, eu mattis nibh aliquet.</p>

  <p class="indent">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ultricies dictum tempor. Suspendisse vel mi consequat, ullamcorper sem ut, viverra sapien. Curabitur bibendum felis urna, et imperdiet augue lacinia at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam pellentesque, arcu ac consequat rutrum, eros eros suscipit ex, imperdiet rutrum orci tellus eleifend velit. Nullam finibus nulla in bibendum pretium. Suspendisse dapibus auctor nisi id pellentesque. Vivamus id mauris laoreet, bibendum nisl quis, rutrum ex. Duis in metus nulla. Nullam pretium maximus vulputate. Quisque molestie velit at lacus fringilla accumsan vel in leo.</p>
</div>

<% include partials/footer.ejs %>
