<% include partials/header.ejs %>
<% include partials/nav.ejs %>

<div id="my-jumbotron" class="jumbotron my-jumbotron">
  <h1>Contact</h1>
</div>

<div class="colored-heading bottom-spacing">
  <h4>Please feel free to reach out to me via email or LinkedIn, and please check out my code on Github.</h4>
</div>
<div class="container bottom-spacing">
  <table class="contact-table">
    <tr class="contact-method">
      <td class="contact-method-td"><span class="contact-method-header">Email:</span></td>
      <td class="contact-method-td"><span class="contact-method-value">jeremybr.adams@gmail.com</span></td>
      <td class="contact-method-td"><span><a class="btn btn-lg btn-info" href="mailto:jeremybr.adams@gmail.com"><i class="fas fa-envelope"></i> Email Me</a></span></td>
    </tr>
    <tr class="contact-method">
      <td class="contact-method-td"><span class="contact-method-header">LinkedIn:</span></td>
      <td class="contact-method-td"><span class="contact-method-value">jeremy-bruce-adams</span></td>
      <td class="contact-method-td"><span><a class="btn btn-lg btn-info" href="https://www.linkedin.com/in/jeremy-bruce-adams/"><i class="fab fa-linkedin"></i> Say Hi on LinkedIn</a></span></td>
    </tr>
    <tr class="contact-method">
      <td class="contact-method-td"><span class="contact-method-header">Github:</span></td>
      <td class="contact-method-td"><span class="contact-method-value">jb-adams</span></td>
      <td class="contact-method-td"><span><a class="btn btn-lg btn-info" href="https://github.com/jb-adams"><i class="fab fa-github"></i> Say Hi on Github</a></span></td>
    </tr>
  </table>

  <!--
  <p class="contact-method">
    <span class="contact-method-header">Email:</span>
    <span class="contact-method-value">jeremybr.adams@gmail.com</span>
    <span><a class="btn btn-lg btn-info" href="mailto:jeremybr.adams@gmail.com"><i class="fas fa-envelope"></i> Email Me</a></span>
  </p>
  <p class="contact-method">
    <span class="contact-method-header">Github:</span>
    <span class="contact-method-value">jb-adams</span>
    <span><a class="btn btn-lg btn-info" href="https://github.com/jb-adams"><i class="fab fa-github"></i> Say Hi on Github</a></span>
  </p>
  <p class="contact-method">
    <span class="contact-method-header">LinkedIn:</span>
    <span class="contact-method-value">jeremy-bruce-adams</span>
    <span><a class="btn btn-lg btn-info" href="https://www.linkedin.com/in/jeremy-bruce-adams/"><i class="fab fa-linkedin"></i> Say Hi on LinkedIn</a></span>
  </p>
-->
</div>

<% include partials/footer.ejs %>
