<% include partials/header.ejs %>
<% include partials/nav.ejs %>

<div id="my-jumbotron" class="jumbotron my-jumbotron">
  <h1>Contact</h1>
</div>

<div class="colored-heading bottom-spacing">
  <h1>I am currently seeking blah</h1>
</div>
<div class="container bottom-spacing">
  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div style="width:100%;text-align:center">Github</div>
      <div style="width:100%;text-align:center"><a class="btn btn-info btn-project"><i class="fab fa-github"></i> Visit Github</a></div>
      <div style="width:100%;text-align:center">Github Link</div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div style="width:100%;text-align:center">Github</div>
      <div style="width:100%;text-align:center"><a class="btn btn-info btn-project"><i class="fab fa-github"></i> Visit Github</a></div>
      <div style="width:100%;text-align:center">Github Link</div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div style="width:100%;text-align:center">Github</div>
      <div style="width:100%;text-align:center"><a class="btn btn-info btn-project"><i class="fab fa-github"></i> Visit Github</a></div>
      <div style="width:100%;text-align:center">Github Link</div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div style="width:100%;text-align:center">Github</div>
      <div style="width:100%;text-align:center"><a class="btn btn-info btn-project"><i class="fab fa-github"></i> Visit Github</a></div>
      <div style="width:100%;text-align:center">Github Link</div>
    </div>

    <!-- Github LinkedIn Email -->

    <!--
    <table style="width:100%;text-align:center;">
      <tr style="border-bottom: 2px solid red;border-top: 2px solid red;">
        <td style="width:33%;padding-bottom:20px;"><h4>Github</h4></td>
        <td style="width:33%;padding-bottom:20px;"><a class="btn btn-info btn-project"><i class="fab fa-github"></i> Visit Github</a></td>
        <td style="width:33%;padding-bottom:20px;"><a href="https://github.com/jb-adams"><h4>https://github.com/jb-adams</h4></a></td>
      </tr>
      <tr style="border-bottom: 2px solid red;margin:100px;">
        <td style="width:33%;"><h4>Github</h4></td>
        <td style="width:33%;"><a class="btn btn-info btn-project"><i class="fab fa-github"></i> Visit Github</a></td>
        <td style="width:33%;"><a href="https://github.com/jb-adams"><h4>https://github.com/jb-adams</h4></a></td>
      </tr>
    </table>
  -->


  </div>
</div>

<% include partials/footer.ejs %>
