<% include partials/header.ejs %>

    <div id="landing-div">
      <div style="background:rgba(0,0,0,0.5);padding:10px;">
        <div class="container">
          <h1 id="landing-header">jeremy-codes.com</h1>
          <hr class="short-hr">
          <p id="landing-desc">I am a Toronto-based software developer with a passion for big data analytics and data science. This website contains my personal projects.</p>
          <hr class="short-hr">
      		<a id="enter-button" href="/about" class="btn btn-lg btn-primary">Enter</a>
        </div>
      </div>
    </div>

<% include partials/footer.ejs %>
