<% include partials/header.ejs %>
<% include partials/nav.ejs %>

<div id="my-jumbotron" class="jumbotron my-jumbotron">
  <h1>Projects</h1>
</div>

<div class="colored-heading bottom-spacing">
  <h1>Data Science Projects</h1>
</div>
<div class="container bottom-spacing">

  <!-- Master's Project -->
  <div class="project-div">
    <h2 class="lato-bold project-title">Master's Project</h2>
    <div class="project-image"></div>
    <p class="project-description">Coming Soon</p>
    <span class="btn-span"><a class="btn btn-info btn-project"><i class="fas fa-terminal"></i> View the App</a><a class="btn btn-info btn-project"><i class="fab fa-github"></i> View the Code</a></span>
  </div>

</div>

<div class="colored-heading bottom-spacing">
  <h1>Full-Stack Projects</h1>
</div>
<div class="container bottom-spacing">

  <!-- The Blood of the World -->
  <div class="project-div">
    <h2 class="lato-bold project-title">The Blood of the World</h2>
    <div class="project-image"></div>
    <p class="project-description">Description: blah blah blah blah blah</p>
    <span class="btn-span"><a class="btn btn-info btn-project"><i class="fas fa-terminal"></i> View the App</a><a class="btn btn-info btn-project"><i class="fab fa-github"></i> View the Code</a></span>
  </div>

  <!-- Color Guessing Game -->
  <div class="project-div">
    <h2 class="lato-bold project-title">Color Guessing Game</h2>
    <div class="project-image" style="background-image: url('/assets/images/projects/colorGuessingGame.jpg');"></div>
    <p class="project-description">Description: blah blah blah blah blah</p>
    <span class="btn-span"><a class="btn btn-info btn-project" href="/projects/color-guessing-game"><i class="fas fa-terminal"></i> View the App</a><a class="btn btn-info btn-project"><i class="fab fa-github"></i> View the Code</a></span>
  </div>

</div>

<% include partials/footer.ejs %>
