html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("/assets/images/toronto-skyline.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.short-hr {
  width: 25%;
  opacity: 0.2;
}

#landing-div {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 30vh;
  color: white;
}

#landing-header {
  font-size: 4.0em;
}

#landing-desc {
  font-size: 2.0em;
}

#enter-button {
  font-size: 2.0em;
}
