<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Connect Four</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/projects/connectFour.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    
    <div id="frame" class="">
      <div id="header" class="all">
        <div class="container">
          <h1>Connect Four</h1>
        </div>
      </div>
    </div>

    <div id="options" class="all">
      <nav id="my-navbar" class="navbar">
        <div class="container">
          <div>
            <ul class="nav navbar-nav">
              <li class="option" id="restart">Restart</li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div id="mainGame" class="all">
      <div id="gameFrame" class="container">
        <div id="chip-entry">
        </div>
        <div id="board">
        </div>
      </div>
      <div id="message-div">
        <p class="visible" id="message">Player 1 turn</p>
      </div>
    </div>

    <script type="text/javascript" src="/assets/scripts/jquery-3.3.1.js" ></script>
    <script type="text/javascript" src="/assets/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/projects/connectFour.js"></script>

  </body>
</html>